<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>AJZ Shoe shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {{>stylesheet}}
</head>
<body>
{{>nav_bar}}
<br>
<div class="d-flex container-fluid justify-content-center text-center">
    <button class="btn btn-outline-primary active" id="userLogsButton" style="margin-right: 10px;">User Logs</button>
    <button class="btn btn-outline-primary" id="adminLogsButton">Admin Logs</button>
</div>
<br>
<div id="userLogs" class="container">
    {{#each userLogs}}
        <div class="jumbotron jumbotron-fluid">
            <p class="lead">{{this.userLog.action}} by {{this.userLog.email}} - ({{this.userLog.status}})</p>
            <p class="small">Timestamp: {{this.userLog.time}}</p>
        </div>
    {{/each}}
</div>
<div id="adminLogs" class="container d-none">
    {{#each adminLogs}}
        <div class="jumbotron jumbotron-fluid">
            <p class="lead">{{this.adminLog.action}} by {{this.adminLog.email}} - ({{this.adminLog.status}})</p>
            <p class="small">Timestamp: {{this.adminLog.time}}</p>
        </div>
    {{/each}}
</div>
{{>footer}}
<br>
<!--Scripts-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("#userLogsButton").on("click", function () {
            $("#userLogs").removeClass("d-none");
            $("#adminLogs").addClass("d-none");
            $("#userLogsButton").addClass("active");
            $("#adminLogsButton").removeClass("active");
        });
        $("#adminLogsButton").on("click", function () {
            $("#userLogs").addClass("d-none");
            $("#adminLogs").removeClass("d-none");
            $("#userLogsButton").removeClass("active");
            $("#adminLogsButton").addClass("active");
        });
    })
</script>
</body>
</html>